# RStudio files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# renv
renv/library/
renv/staging/

# OS junk
.DS_Store
Thumbs.db

# temporary files
*.log
*.tmp

# data files
data/
*.tsv
*.csv
*.rds
*.parquet

# Fitted models
fits/
*.rds

# credentials
*.key
*.pem
*.env